<div class="container p-tb-150 p-b-150">

    <form method="post" action="" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 class="f_quando formTitle">Ajouter un article :</h2>
                <div class="form-group">
                    <label for="productName">Nom du produit :</label>
                    {% if errors.name is defined %}
                        <div class="formErrors">{{ errors.name }}</div>
                    {% endif %}
                    <input type="text" name="name" class="form-control" id="productName" value="{% if values.name is defined %}{{ values.name }} {% else %}{{ currentValues.name }}{% endif %}" required>
                </div>
                <div class="form-group">
                    <label for="categoryName">Catégorie :</label>
                    <select name="category" class="form-control" id="categoryName" required>
                        <option value="manga" {% if currentValues.category == "manga" %}selected{% endif %}>Manga</option>
                        <option value="dvd" {% if currentValues.category == "dvd" %}selected{% endif %}>DVD</option>
                        <option value="goodies" {% if currentValues.category == "goodies" %}selected{% endif %}>Goodies</option>
                    </select>

                    {% if errors.category is defined %}
                        <div class="formErrors">{{ errors.category }}</div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="productPrice">Prix :</label>
                            <input type="number" name="price" class="form-control" id="productPrice" value="{% if values.price is defined %}{{ values.price }} {% else %}{{ currentValues.price }}{% endif %}" required>
                            {% if errors.price is defined %}
                                <div class="formErrors">{{ errors.price }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6 uploader">
                        <div class="form-group">
                            <label for="picture">Image : {{ currentValues.picture }}</label>
                            <input type="file" class="form-control-file productPicture" name="picture">
                            {% if errors.picture is defined %}
                                <div class="formErrors">{{ errors.picture }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="productDescription">Description :</label>
                    <textarea class="form-control" id="productDescription" name="description" rows="3" required>{% if values.description is defined %}{{ values.description }} {% else %}{{ currentValues.description }}{% endif %}</textarea>
                    {% if errors.description is defined %}
                        <div class="formErrors">{{ errors.description }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="productCommentary">Avis de la boutique (optionnel) :</label>
                    <textarea class="form-control" id="productCommentary" name="review" rows="3">{% if values.review is defined %}{{ values.review }} {% else %}{{ currentValues.review }}{% endif %}</textarea>
                    {% if errors.review is defined %}
                        <div class="formErrors">{{ errors.review }}</div>
                    {% endif %}
                </div>
            </div>
                <div class="form-group form-check highlightBlock">
                    <input type="checkbox" class="form-check-input" id="highlight" name="highlight" value="1" {% if (values.highlight is defined and values.highlight == 1) or currentValues.highlight == 1 %}checked{% endif %}>

                    <label class="form-check-label" for="highlight">Je souhaite que cet article soit mis en avant dans l'onglet nouveautés.</label>
                    {% if errors.review is defined %}
                        <div class="formErrors">{{ errors.review }}</div>
                    {% endif %}
                </div>
                <div class="form-group centeredBtn">
                    <button type="submit" class="btn btn-shinjuku">Valider</button>
                </div>
            </div>
        </div>
    </form>
</div>
