{% extends 'layout.html.twig' %}
{%block title %}{{ parent() }} - Article{% endblock %}
{% block banner %} <div class="banner2"></div>{% endblock %}
{% block content %}
<section class="product">
    <!-- Product -->
    <div class="bg0 m-t-23 p-b-140">
        <div class="container">
            <!--Search bar-->
            <div class="row d-flex justify-content-center bd-highlight mb-3  search_product_bar">
                <nav class="m-b-100 search_bar col-md-12 col-lg-5 col-xs-12 col-sm-12  navbar navbar-light">
                    <a href="/admin/add" class="add btn btn-success btn-sm" NAME="add" VALUE="add">Ajouter un nouvel article</a>

                    <form class="search_bar form-inline" method="get"  action="">
                        <label for="search" >Recherche</label>
                        <input class="search-bar form-control my-lg-0" id="search" type="search" name="search" aria-label="Search" placeholder="Ex: naruto..." label="recherche">
                        <button class="btn btn-outline-success my-2 my-lg-0" type="submit"><i class="far fa-search fas"></i></button>
                    </form>
                </nav>
            </div>
        </div>
    </div>
    <!-- Block2 -->
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 bold cl13 fs-30 d-flex justify-content-center">{{ error.category }} {{ error.toomuch }}</div>
            {% for article in articles %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 m-b-35 block-article">
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="{{ article.picture }}" alt="IMG-PRODUCT" class="image-article" >
                        </div>
                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                <a href="/article/{{ article.id }}" class=" cl10 hov-cl1 trans-04  p-b-6 bold">
                                    {{ article.name }}
                                </a>
                                <span class=" ">
                                Prix:{{ article.price }}€
                                </span>
                            </div>
                        </div>
                    </div>

                    <a href="/admin/edit/{{ article.id }}"  class="update btn btn-primary btn-sm" NAME="update" VALUE="update">Modifier</a>
                    <a href="/admin/list/{{ article.id }}"  onclick="return confirm('Etes vous sur de vouloir supprimer cet article')" class="delete btn btn-danger btn-sm" NAME="supprimer" VALUE="supprimer">Supprimer</a>

                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
